if SHIELD_NGONB_DONGLE

config ZMK_KEYBOARD_NAME
    default "ngonb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

endif

if SHIELD_NGONB_LEFT || SHIELD_NGONB_RIGHT

config ZMK_SPLIT
    default y

endif
