config SHIELD_THORIUM_DONGLE
    def_bool $(shields_list_contains,thorium_dongle)

config SHIELD_THORIUM_LEFT
    def_bool $(shields_list_contains,thorium_left)

config SHIELD_THORIUM_RIGHT
    def_bool $(shields_list_contains,thorium_right)
