#include "thorium.dtsi"

zephyr_udc0: &usbd {
    status = "okay";
};

/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    // Переопределяем physical_layout_0 — заменяем &kscan0 на &mock_kscan
    physical_layout_0 {
        kscan = <&mock_kscan>;
    };
};