# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ngon1_LEFT

config ZMK_KEYBOARD_NAME
    default "ngon1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

endif


if SHIELD_ngon1_RIGHT || SHIELD_ngon1_LEFT

config ZMK_SPLIT
    default y

endif
