# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_NGON1_LEFT
    def_bool $(shields_list_contains,ngon1_left)

config SHIELD_NGON1_RIGHT
    def_bool $(shields_list_contains,ngon1_right)